:root {
    --body-color: rgb(39, 43, 48);
    --navbar-color: rgb(68, 86, 144);
    --header-color: rgb(255, 255, 255);
    --active-color: rgb(23, 162, 184);
    --text-color: rgb(128, 128, 128);
    --input-color: rgb(170, 170, 170);
    --bg-span-color: rgb(54, 57, 62);
    --warning-color: rgb(255, 193, 7);
    --bg-color: rgba(39, 43, 48, 0.89);
    --border-top-color: rgb(255, 255, 255);
    --border-left-color: rgb(255, 61, 0);
    --span-color : rgb(73, 172, 255);
}

.home > header {
    background-image: url(../../assets/wraper.png);
    background-repeat: no-repeat;
    background-color: rgb(28, 30, 34);
    background-position: top;
    background-size: cover;
    text-align: center;
    align-content: center;
    margin-top: 58px;
    min-height: 300px;
    border-bottom: 1px solid rgb(17, 18, 21);
    color: var(--text-color);
    text-shadow: -1px -1px 0 rgba(0,0,0,.3);
}

.home > header span{
    color: var(--span-color) !important;
}
.home > .games h4, .home > .gamesData h4{
    color: var(--text-color);
}
.custom-btn{
    bottom: -50px;
    right: 12px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
}
.custom-btn:hover{
    background-color: var(--text-color);
}

div.col > div:nth-child(1) > div:nth-child(1) > figcaption:nth-child(2) > div:nth-child(1) > span:nth-child(2){
    background-color: var(--navbar-color) !important;
} 
.game-card {
    background-color: var(--bg-span-color) !important;
    /* color: var(--header-colorr) !important; */
    transition: all ease-in-out .3s;
}
.game-card:hover{
    scale: 1.02;
}
.game-card p{
    color: var(--text-color) !important;
    font-size: 14px;
}

div.row > div:nth-child(1) > div:nth-child(2){
    margin: 15px 0;
}

.gamesData .text-truncate {
    color: var(--header-color);
}
.gamesData span {
    background-color: var(--navbar-color);
}