.games {
    margin-top: 100px;
}

.games .card {
    transition: all ease-in-out .3s;
}

.games .card:hover {
    scale: 1.04;
}

.games .card .card-img-top, .card .text-bg-primary {
    opacity: .5;
    transition: all ease-in-out .3s;

}

.games .card:has(.card-body:hover) .card-img-top,
.games .card:has(.card-body:hover) .text-bg-primary {
    opacity: 1;
}

.games .card-text {
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-height: 1.5;
    max-height: calc(1.5em * 3);
}

.games .hstack h6 {
    color: var(--header-color);
}

.games .card-footer span {
    background-color: var(--bg-span-color);
}

.pagination .page-item {
    padding: 0;
    align-content: center;
}

.pagination .page-item .page-number {
    background-color: var(--body-color);
    color: var(--text-color);
    cursor: pointer;
    border: 0;
    padding: 0 2px;
}

div.page-number {
    background-color: var(--navbar-color) !important;
}

.pagination .page-item .page-number span {
    color: var(--header-color);
    padding: 0 5px;
}

li.active .page-number {
    color: var(--navbar-color) !important;
    border-bottom: 3px solid var(--navbar-color) !important;
}
