.card{
    transition: all ease-in-out .3s;
}
.card:hover{
    scale: 1.04;
}
.card .card-img-top, .card .text-bg-primary{
    opacity: .5;
    transition: all ease-in-out .3s;

}
.card:has(.card-body:hover) .card-img-top,
.card:has(.card-body:hover) .text-bg-primary{
    opacity: 1;
}

.card-text{
    color: var(--input-color);
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-height: 1.5; 
    max-height: calc(1.5em * 3); 
}

.hstack h6{
    color: var(--header-color);
}

.card-footer span{
    background-color: var(--bg-span-color);
}